header {
    padding: 50px 0;

    .header__logo {
        margin: 0;
        font-size: 50px;

    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__login-link {
        margin-right: 20px;
        text-decoration: none;
    }
}
