$containerWidth = 900px
$brandColor = #00A6D1
$colorLightGray = #fbfbfb
$colorLightBlue = #00affe
$colorPurple = #9013fe
$colorGreen = #00c458
$baseFontSize = 16px
$colorSidebarBg = #f7f7f7

$debug = false

if $debug
  *
    outline 1px solid rgba(255, 0, 0, 0.1)
