body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

.u-align-right {
    text-align: right;
}

.u-align-left {
    text-align: left;
}

.u-align-center {
    text-align: center;
}

#app {
    color: #666;
    width: 100%;
    height: 100%;
}
